<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Accuracy:</strong>
    <%= evaluation.accuracy %>
  </p>

  <p>
    <strong>Accuracy description:</strong>
    <%= evaluation.accuracy_description %>
  </p>

  <p>
    <strong>Relevance:</strong>
    <%= evaluation.relevance %>
  </p>

  <p>
    <strong>Relevance description:</strong>
    <%= evaluation.relevance_description %>
  </p>

  <p>
    <strong>Bias:</strong>
    <%= evaluation.bias %>
  </p>

  <p>
    <strong>Bias description:</strong>
    <%= evaluation.bias_description %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= evaluation.comments %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= evaluation.task_id %>
  </p>

</div>
