<%= form_with(model: evaluation, class: "form") do |form| %>
  <% if evaluation.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
        <% evaluation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :scenario_id, @task.scenario_id %>
  <%= hidden_field_tag :task_id, @task.id %>
  
  <div class="form-group">
    <%= form.label :accuracy, class: "control-label" %>
    <%= form.number_field :accuracy, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :accuracy_description, class: "control-label" %>
    <%= form.text_area :accuracy_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :relevance, class: "control-label" %>
    <%= form.number_field :relevance, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :relevance_description, class: "control-label" %>
    <%= form.text_area :relevance_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bias, class: "control-label" %>
    <%= form.number_field :bias, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bias_description, class: "control-label" %>
    <%= form.text_area :bias_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :comments, class: "control-label" %>
    <%= form.text_area :comments, class: "form-control" %>
  </div>

  <br>

  <div class="form-group">
    <%= form.submit "Next", class: "btn btn-primary" %>
  </div>
<% end %>
