<p style="color: green"><%= notice %></p>

<div class="page-title">
  <h1>Scenarios</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @scenarios.each do |scenario| %>
      <tr>
        <td><%= link_to scenario.name, scenario %></td>
        <% if current_user.lecturer? %>
          <td>
            <%= link_to "Edit", edit_scenario_path(scenario), class: "btn btn-primary" %>
            <%= link_to 'Evaluations', evaluations_scenario_path(scenario), class: 'btn btn-info' %>
          </td>
          <% else %>
          <td>
            <%= link_to 'Start Scenario', start_scenario_path(scenario), class: 'btn btn-primary' %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.lecturer? %>
  <%= link_to "New scenario", new_scenario_path, class: "btn btn-success" %>
<% end %>
