<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2><%=@scenario.name%></h2>
    </div>
    <div class="card-body">
      <%= @scenario.description %>
    </div>
    <div class="card-footer text-right">
      <% if current_user.lecturer? %>
        <%= link_to "Edit this scenario", edit_scenario_path(@scenario), class: "btn btn-primary mr-2" %>
      <% end %>
      <%= link_to "Back to scenarios", scenarios_path, class: "btn btn-secondary" %>
    </div>
    <% if current_user.lecturer? %>
    <div class="card-footer text-left">
      <%= button_to "Delete", @scenario, method: :delete, class: "btn btn-danger ml-2", data: { confirm: "Are you sure you want to delete this scenario?" } %>
    </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to 'Start Scenario', start_scenario_path(@scenario), class: 'btn btn-primary' %>
  </div>
</div>
